*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
body{
    
}
.container{
    max-width: 1920px;
    width: 100%;
}


    /*ШАПКА САЙТА*/


header{
    position: fixed;
    max-width: 100%;
    width: 100%;
    height: 80px;
    background-color: #000000;
}
.header-title{
    text-align: center;
    font-size: 48px;
    color: white
}


/* ОБОЛОЧКА ОСНОВНОЙ ИНФОРМАЦИИ САЙТА */


.content{
    padding-top: 100px;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}


    /* ОСНОВНАЯ ИНФА НА САЙТЕ */


main{}
nav{}
ul{
    display: flex;
    list-style-type: none;
}
a:not(:first-child){
    margin-left: 20px;
}
li{
    border-radius: 10px;
    border: 2px solid black;
    padding: 10px;
    cursor: pointer;
    
}
.item-active{
    background-color: rgb(205, 199, 199);
}
article{
    margin-top: 40px;
    padding-right: 100px;
}
.news{}
.news-title{
    font-size: 24px;
    font-weight: bold;
}
.news-subtitle{
    margin-top: 12px;
    font-size: 18px;
}
.news-image{
    margin-top: 12px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}
.news-line{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    height: 2px;
    background-color: rgb(205, 199, 199);
}

    /* БЛОК С КОМАНДАМИ (сбоку) */


aside{
    
}
.aside-section{
    border-radius: 10px;
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.aside-section:not(:first-child){
    margin-top: 20px;
}
.aside-section:nth-child(1){
    background-image: url(../imgs/gambit.jpg)
}
.aside-section:nth-child(2){
    background-image: url(../imgs/spirit.jpg)
}
.aside-section:nth-child(3){
    background-image: url(../imgs/virtus.png)
}
.aside-section:nth-child(4){
    background-image: url(../imgs/unique.jpg)
}
.aside-section:nth-child(5){
    background-image: url(../imgs/cyber.jpg)
}

 /* ПОДВАЛ САЙТА */
 footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: #000000;
    color: white;
 }