@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;800&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
ul,li{
    list-style: none;
    color: #fff;
    
}
a{
    text-decoration: none;
    color: black;
}
body{
    background-color: #0e0e0e;
    color:#fff;
}
.container{
    max-width: 1920px;
    width: 100%;
}


    /*ШАПКА САЙТА*/


header{
    position: fixed;
    max-width: 100%;
    width: 100%;
    height: 80px;
    background-color: #000000;
}
.header-title{
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
}



/* ОБОЛОЧКА ОСНОВНОЙ ИНФОРМАЦИИ САЙТА */


.content{
    padding-top: 100px;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}


    /* ОСНОВНАЯ ИНФА НА САЙТЕ */


main{}
nav{}
ul{
    display: flex;
    list-style-type: none;
}
a:not(:first-child){
    margin-left: 20px;
}
li, button{
    border-radius: 10px;
    border: 2px solid rgb(205, 199, 199);
    padding: 10px;
    cursor: pointer;
    
}
button{
    background-color: #0e0e0e;
    color:#fff;
}
.discipline{
    max-width: 880px;
    width: 100%;
}
.item-active{
    background-color: rgb(205, 199, 199);
    color: #000000;
 
}
article{
    margin-top: 40px;
    padding-right: 100px;
}
.news{}
.news-title, .discipline-section__title{
    font-size: 30px;
    font-weight: bold;
}
.news-subtitle{
    margin-top: 12px;
    font-size: 18px;
}
.news-subtitle-list{
    margin-top: 12px;
    font-size: 22px;
    text-align: center;
}
.news-image{
    margin-top: 12px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}
.news-line{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    height: 2px;
    background-color: rgb(205, 199, 199);
}
.discipline-line{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 2px;
    background-color: rgb(205, 199, 199);
}
.discipline-section__title, .discipline-section__item{
    margin-bottom: 20px;
}
.discipline{
    margin-bottom: 10px;
}
p{
    padding: 5px 0;
}
.hide {
    display: none;
  }
.default{
    display: flex;
}



    /* БЛОК С КОМАНДАМИ (сбоку) */

aside {
    
}
.aside-section > a > img{
    border-radius: 10px;
    width: 220px;
    height: 100%;

}
.aside-section:first-child{
    margin-top: 85px;
}
img[alt="Command"]{
    border: 2px solid rgb(205, 199, 199) !important;
}
 /* ПОДВАЛ САЙТА */
 footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: #000000;
    color: white;
 }
